server:
  error:
    include-stacktrace: on_param
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/anime?useSSL=false&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: true